body {
    margin: 0;
    overflow: hidden;
}

.mds-full-height {
    height: 99vh;
    background-color: rgb(233,236,239);
  }
  
  .mds-search-calendar {
    border-left: 1px solid #ccc;
    overflow: hidden;
    height: 90%;
    margin: 16px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  }
  
  .mds-external-nav-dp {
    height: 300px;
    margin: 16px !important;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  }

  .change-period {
    width: 800px;
  }